.cat-data {
  border: none;
  padding: 0;
}

.cat-data__wrapper {
  border-bottom: 1px solid #D9D9D9;
  margin: 0 auto;
  width: 280px;
  padding: 0 20px 9px 20px;
}

.cat-data__name {
  align-items: center;
  display: flex;
  margin-bottom: 14px;
}

.cat-data__label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 14px;
}

.cat-data__input {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
}

.cat-data__cat-wt {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.cat-data__cat-wt label {
  width: 85px;
}

.cat-data__cat-age {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.cat-data__cat-age label {
  width: 165px;
}

@media (min-width: $tablet-width) {
  .cat-data__wrapper {
    width: 630px;
    border-bottom: none;
    padding-bottom: 58px;
  }

  .cat-data__name {
    margin-bottom: 20px;
  }

  .cat-data__label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  .cat-data__input {
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .cat-data__cat-wt {
    margin-bottom: 20px;
  }

  .cat-data__cat-wt label {
    width: 90px;
  }

  .cat-data__cat-age label {
    margin-right: 7px;
  }
}

@media (min-width: $desktop-width) {
  .cat-data {
    margin: 0;
  }

  .cat-data__wrapper {
    padding: 0;
    width: 570px;
  }
}
