.contacts {
  margin-top: 28px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.contacts__title {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 140px;
}

.contacts__address {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 140px;
  color: #444444;
}
