.example {
  background-color: #EAEAEA;
}

.example__wrapper {
  margin: 0 auto;
}

.example__title {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 19px;
}

.example__text {
  color: #444444;
  width: 266px;
  margin-bottom: 25px;
}

.example__list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.example__item {
  width: 124px;
  width: 124px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.example__number {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding-top: 14px;
}

.example__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  padding-top: 10px;
  width: 55px;
}

.example__price {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 289px;
}

.example__slide {
  display: flex;
  width: 197px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 35px;
}

.example__slide p {
  margin: 0;
}

.example__before-after {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
