.habits {
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.habits__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 34px;
}

.habits__text {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid #E7E7E7;
  color: #283645;
  box-sizing: border-box;
  padding: 13px 12px 13px 15px;
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
