.intro-index {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 22px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 305px;
}

.intro-index__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-index__button {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 280px;
}

.intro-index__title {
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  width: 280px;
}

.intro-index__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 167px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 135px;
  margin-left: 0px;
}

@media (min-width: $tablet-width) {
  .intro-index {
    text-align: left;
    background-image: none;
    background-color: #FFFFFF;
  }

  .intro-index__box {
    width: 544px;
    margin-bottom: 504px;
  }

  .intro-index__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 51px;
    padding-bottom: 40px;
    width: 414px;
    color: #000000;
    padding-left: 5px;
  }

  .intro-index__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
    padding-bottom: 0;
    padding-left: 6px;
  }

  .intro-index__button {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .intro-index {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: right top;
    background-size: 50%;
    margin-top: -109px;
    margin-bottom: 0;
  }

  .intro-index__box {
    width: 1060px;
    margin-top: 174px;
    margin-bottom: 267px;
  }

  .intro-index__title {
    padding-left: 0;
  }

  .intro-index__slogan {
    padding-left: 0;
    margin-bottom: 52px;
  }
}
