.intro-index {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 22px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 305px;
}

.intro-index__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-index__box {
  margin-bottom: 135px;
}

.intro-index__button {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 280px;
}

.intro-index__title {
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: 250px;
}

.intro-index__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 167px;
  margin: 0;
}
