.intro-index {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.intro-index__wrapper {
  margin: 0 auto;
}

.intro-index__box {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 127px;
}

.intro-index__title {
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.intro-index__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 167px;
  margin: 0;
}
