.product__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.product__name {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product__item {
  color: #444444;
}

.product__parameter {
  margin: 0;
}

.product__property {
  margin: 0;
}

.product__btn {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}
