.select-program {
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.select-program__item {
  margin-bottom: 19px;
}

.select-program__label {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;
}
