.select-add {
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.select-add__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 34px;
}

.select-add__item {
  margin-bottom: 20px;
}

.select-add__label {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
