.social__list {
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 12px;
}

.social__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
  }
}
