.submit {
  margin: 0 20px;
}

.submit__button {
  background-color: #68B738;
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 18px;
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  border: none;
  width: 100%;
}

.submit__text-condition {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
