.works {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.works__list {
  margin-bottom: 20px;
}

.works__title {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}

.works__item {
  margin-bottom: 26px;
}

.works__description {
  margin: 0;
  padding-left: 80px;
}
